body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    color:  #757575;
    line-height:normal;
    

}

element.style{
color:black


}


header{
    background-color: #FFFFFF;
    font-size: bold;
    

}

header > ul{
    list-style-type: none;
}

.mail {
text-decoration: none;
color: #757575;
font-size: 14px;


}
.mail:hover{
    color: #2196F3;

}
.phone {
    text-decoration: none;
    color: #757575;
    font-size: 14px;
    }

    .phone:hover{
        color: #2196F3;

    }


.part{
    color:black;
}
.logo-body{ 
 color:#2196F3;   
text-decoration: none;
font-family: "Raleway";
font-weight: bold;
font-size: 26px;
line-height: 31px;
letter-spacing: 0,03em;
}

.navigation {
    background-color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    

}

.navigation > ul {
    list-style-type: none ;
}
.navigation > ul > li > a {
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: #000000;
    display: inline-block;
    

}
.navigation > ul > li > a:hover {
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: #2196F3;
    display: inline-block;
    
    
}

 .navigation-menu > ul > li > a:hover { 
     color: #2196F3;
     text-decoration: underline;
     display: inline-block;
     
 }


 .special {
    
    height: 400px;
    font-size: 40px;
    background-color: #2F303A;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.special > button {
    font-size 16px;
    color: #2196F3;
    text-align: center;


}

.hero > ul {
    text-decoration: none;
    list-style-type: none;


}
.hero > ul > li > h3{
    font-size: 14px;
    color: black;

}
.hero > ul > li > p{
    font-size: 14px;



}
.about > ul {
    text-decoration: none;
    list-style-type: none;
}
.about > h2 {
    font-size: 36px;
    color: black;
    text-align: center;
    }


.team {
    font-size: 36px;
    color: black;
   


}

.team > ul {
 text-decoration: none;
    list-style-type: none;

}
.team > ul > li > h3 {
    font-size: 16px;
    color: #212121
    text-align: center;
    
}

.team > ul > li > p {
    font-size: 16px;
    color: #757575;
    text-align: center;
}

.footer > div > a{
    font-family: Raleway;
    font-size: 26px;
    
 }
 .footer > div > address{
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;


}



 .section > ul > li > button {
    font-family: inherit;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;

 }




.section > ul > li > button:hover{
    background-color: #2196F3;
    text-decoration: underline;
    
}




.footer{
    height: 400px;
    font-size: 44px;
    background-color: #2F303A;
    color: #FFFFFF;
    justify-content: center;

}

.contact{
    font-family: "Roboto", sans-serif;
    margin: 0;
    color:  #FFFFFF;
    line-height:normal;
    font-style: normal;
    text-decoration: none ;
    list-style-type: none;
    
}
.logo-footer
{ text-decoration: none;
    color:#2196F3;   
    text-decoration: none;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0,03em;
    
}
.contact > ul {
    text-decoration: none ;
    list-style-type: none;

}

.parttwo{
    color: #FFFFFF
}


.sectionportfolio > ul {
    text-decoration: none ;
    list-style-type: none;

}

.sectionportfolio > ul > li  button:hover{
    background-color: #2196F3;
    text-decoration: underline;{

}

.image {
    font-size: 36px;
    color: black;
   


}

.image > ul {
 text-decoration: none;
    list-style-type: none;

}
.image > ul > li > h3 {
    font-size: 16px;
    color: #212121
    text-align: center;
    
}

.image > ul > li > p {
    font-size: 16px;
    color: #757575;
    text-align: center;
}